<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://minvoiceapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>minvoiceapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mInvoiceAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mInvoiceAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="myinvoiceDBEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mInvoiceAPI.Models.myinvoiceDBEntities, mInvoiceAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="myinvoiceDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;MultipleActiveResultSets=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\myinvoiceDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;MultipleActiveResultSets=True;TrustServerCertificate=False;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mInvoiceAPIContext" Order="3" Enabled="False">
          <Destination Path="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;MultipleActiveResultSets=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|mInvoiceAPIContext-20160328152532.mdf;Initial Catalog=mInvoiceAPIContext-20160328152532;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mInvoiceAPIContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=mInvoiceAPIContext-20160328152532; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|mInvoiceAPIContext-20160328152532.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mInvoiceAPIContext-Web.config Connection String">
      <ParameterValue>Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;MultipleActiveResultSets=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)myinvoiceDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=minvoices.westeurope.cloudapp.azure.com;Initial Catalog=myinvoiceDB;User ID=disl;Password=Zumba-12;MultipleActiveResultSets=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)myinvoiceDBEntities-Web.config Connection String" />
  </ItemGroup>
</Project>