@using MvcReportViewer;
@using mInvoice.Models;
@using Microsoft.Reporting.WebForms;

@model ArticlesModel

@{
    ViewBag.Title = @Resources.Resource.article;
    string _culture =
         System.Threading.Thread.CurrentThread.CurrentCulture.Name + "-" +
         System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToUpper();
}

<h2>@Resources.Resource.article</h2>

@{
    var settings = new ControlSettings
        {
            ShowParameterPrompts = false,
            ShowFindControls = true,
            //BackColor = System.Drawing.Color.LightBlue ,
            KeepSessionAlive = true,
            //Width = new System.Web.UI.WebControls.Unit("100%"),
            //Height = new System.Web.UI.WebControls.Unit("800px"),
            AsyncRendering = true
        };
}

@Html.MvcReportViewerFluent("/mInvoiceReports/articles").ReportParameters(new { 
        clientid = Model.client_id, 
        language = Model.language,
        culture = _culture }).Attributes(new { Height = 900, Width = 650, style = "border: none" }).ControlSettings(settings);


