@using MvcReportViewer;
@using mInvoice.Models;
@using Microsoft.Reporting.WebForms;

@model ArticlesModel

@{
    ViewBag.Title = @Resources.Resource.article;
}

<h2>@Resources.Resource.article</h2>

@{
    var settings = new ControlSettings
        {
            ShowParameterPrompts = true,
            ShowFindControls = true,
            //BackColor = System.Drawing.Color.LightBlue ,
            KeepSessionAlive = true,
            //Width = new System.Web.UI.WebControls.Unit("100%"),
            //Height = new System.Web.UI.WebControls.Unit("800px"),
            AsyncRendering = false
        };
}

@Html.MvcReportViewerFluent("Reports/articles.rdlc").ProcessingMode(ProcessingMode.Remote).LocalDataSource("labels", Model.labels).LocalDataSource("data", Model.data).Attributes(new { Height = 900, Width = 900, style = "border: none" }).ControlSettings(settings);

