@using MvcReportViewer;
@using mInvoice.Models;
@using Microsoft.Reporting.WebForms;

@model CustomersModel 

@{
    ViewBag.Title = @Resources.Resource.customers;
    string _culture =
        System.Threading.Thread.CurrentThread.CurrentCulture.Name + "-" +
        System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToUpper();
}

<h2>@Resources.Resource.customers</h2>

@{
    var settings = new ControlSettings
        {
            ShowParameterPrompts = false,
            ShowFindControls = true,
            //BackColor = System.Drawing.Color.LightBlue ,
            KeepSessionAlive = true,
            //Width = new System.Web.UI.WebControls.Unit("100%"),
            //Height = new System.Web.UI.WebControls.Unit("800px"),
            AsyncRendering = true
        };
}

@Html.MvcReportViewerFluent("/mInvoiceReports/customers").ReportParameters(new { 
            clientid = Model.client_id, 
            language = Model.language,
            culture = _culture }).Attributes(new { Height = 900, Width = 800, style = "border: none" }).ControlSettings(settings);

