@using MvcReportViewer;
@using mInvoice.Models;
@using Microsoft.Reporting.WebForms;

@model rp_salesModel 

@{
    ViewBag.Title = @Resources.Resource.sales;
    string _culture = 
        System.Threading.Thread.CurrentThread.CurrentCulture.Name  + "-" +
        System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToUpper ();
}

<h2>@Resources.Resource.sales  </h2>

@{
    var settings = new ControlSettings
        {
            ShowParameterPrompts = false,
            ShowFindControls = true,
            ShowToolBar = true,
            //BackColor = System.Drawing.Color.LightBlue ,
            //KeepSessionAlive = true,
            //Width = new System.Web.UI.WebControls.Unit("100%"),
            //Height = new System.Web.UI.WebControls.Unit("800px"),
            AsyncRendering = false,
            ZoomMode= ZoomMode.PageWidth  ,
            SizeToReportContent= false
            
        };
}

@Html.MvcReportViewerFluent("/mInvoiceReports/sales").ReportParameters(
                    new { clientid = Model.client_id
                        , articleid = Model.article_id
                        , customersid = Model.customers_id
                        , datefrom = Model.date_from
                        , dateto = Model.date_to
                        , language = Model.language
                        , culture = _culture
                    }).Attributes(new { Height = 900, Width = "100%", style = "border: none" }).ControlSettings(settings);


