body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body nav ul:hover {
    border-bottom: 5px solid #5C87B2;
}

body nav ul: {
    border-bottom: 5px solid #5C87B2;
}



body nav ul ul {
    display: none;
    position: absolute;
    width: 130%;
    background: black;
    /*border-top: 5px solid #5C87B2;*/
    filter: alpha(opacity=70);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    /*text-align:left ;*/
    /*list-style:none;*/
    /*width:200px;*/
}

    body nav ul ul li a {
        color: gray;
        display: block;
        line-height: 2em;
        text-decoration: none;       
        text-align: left;
        list-style: none;
    }


    body nav ul ul li:hover > a {
        /*background: #4eb1ff;*/
        color:white;
        /*text-decoration:underline;*/
        text-decoration:none;
        text-align: left;
    }

    body nav ul ul li {
        list-style: none;
        width:100%
        /*width:200px;*/
    }