<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://minvoice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>minvoice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mInvoice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mInvoice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="myinvoice_dbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mInvoice.Models.myinvoice_dbEntities, mInvoice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mInvoice.Models.ApplicationDbContext, mInvoice" MigrationConfiguration="mInvoice.Migrations.Configuration, mInvoice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="myinvoice_dbEntities_AspNet_2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:myinvoicedb.database.windows.net,1433;Initial Catalog=myinvoiceDB;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\myinvoice_dbEntities_AspNet_2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AspNet2Model.csdl|res://*/Models.AspNet2Model.ssdl|res://*/Models.AspNet2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:myinvoicedb.database.windows.net,1433;initial catalog=myinvoiceDB;multipleactiveresultsets=True;application name=EntityFramework&quot;;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="myinvoice_dbEntities_AspNet" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:myinvoicedb.database.windows.net,1433;Initial Catalog=myinvoiceDB;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\myinvoice_dbEntities_AspNet_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AspNetModel.csdl|res://*/Models.AspNetModel.ssdl|res://*/Models.AspNetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:myinvoicedb.database.windows.net,1433;initial catalog=myinvoiceDB;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mInvoiceContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|mInvoiceContext-20160122144058.mdf;Initial Catalog=mInvoiceContext-20160122144058" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mInvoiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=mInvoiceContext-20160122144058;  MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|mInvoiceContext-20160122144058.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)myinvoice_dbEntities-Web.config Connection String" />
  </ItemGroup>
</Project>